.nav-logo{
  object-fit: cover;
}
.blog{
  object-fit: cover;
  width: 275px;
  height: 200px;
  border-radius: 2%;
  transform: translateY(3%);
}
.banner{
  background-image: url(https://i.redd.it/8em1phl0kda31.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
}
.icons{
  object-fit: cover;
 height: 100px;
}

.link-button{
  background-color: rgba(255, 255, 0, 0.733);
  border-color: rgb(51, 48, 97);
  border-radius: 5%;
 transform: translateY(-100%);
}
.text-border{
  text-shadow: 0 0 14px black;
}

.story-button{
  background-color: rgba(255, 255, 255, 0.849);
}